---
import SectionHeader from '../ui/SectionHeader.astro';
import ToolCard from '../tools/ToolCard.astro';
import { getCollection } from 'astro:content';

const allTools = await getCollection('tools', ({ data }) => data.featured);
const tools = allTools.slice(0, 4);
---
<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-24">
  <SectionHeader label="// ARSENAL" heading="FEATURED TOOLS" />
  
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-6 gap-y-16 pt-8">
    {tools.map(tool => (
      <ToolCard post={tool} />
    ))}
  </div>
</section>
